body {
    font-family: Arial;
    margin: 50px;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0px;
}

.item {
    background-color: #111;
    color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 7px;
}

span {
   color: #febe01; 
}

p {
    color: #b2b2b2;
}

a {
    display: inline-block;
    background-color: #febe01;
    color: #332200;
    padding: 10px;
    border-radius: 7px;
    text-decoration: none;
}